<section class="container">
  <div class="heading">
    <img class="heading__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/laptop.svg">
    <h1 class="heading__title">To-Do List</h1>

  </div>


  <a [routerLink]="['home']"> Home </a>
  <br>
  <a [routerLink]="['finish-list']"> Finish List</a>
  <div *ngIf="isHomeRoute()">
    <app-list-manager [todoList]="todoList"></app-list-manager>
  </div>
  <div *ngIf="!isHomeRoute()">
   <app-finish-manager [todoList]="todoList"></app-finish-manager>
  </div>

</section>